---
layout: about
---
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  {% include metadata.html %}
  <link rel="stylesheet" href={{ "assets/css/normalize.css" | relative_url }}>
  <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
  {% include header.html %}

  <nav class="container">
    <ul>
      <a href={{ "index.html" | relative_url }}><li>الصفحة الرئيسيّة</li></a>
      <a href={{ "subs-list.html" | relative_url }}><li>قائمة الترجمات</li></a>
      <a href=""><li class="active">{{ page.title }}</li></a>
    </ul>
  </nav>
  <div class="nav-hr"></div>



  <main class="container about-page">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src={{ "assets/javascript/set-copyright-year.js" | relative_url }}></script>
</body>