---
layout: list
---
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  {% include metadata.html %}
  <link rel="stylesheet" href={{ "assets/css/normalize.css" | relative_url }}>
  <link rel="stylesheet" href={{ "assets/css/list.css" | relative_url }}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
  {% include header.html %}

  <nav class="container">
    <ul>
      <a href="{% link index.html %}"><li>الصفحة الرئيسيّة</li></a>
      <a href="#" class="active"><li>قائمة الترجمات</li></a>
      <a href="{% link about.html %}"><li>حول الموقع</li></a>

    </ul>
  </nav>
  <div class="nav-hr"></div>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- <script src="assets/javascript/date-format.js"></script> -->
  <script src="assets/javascript/set-copyright-year.js"></script>
  <script src="assets/javascript/main.js"></script>
</body>