---
layout: post
permalink: /:categories/:year/:month/:day/:title:output_ext
---
<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  {% include metadata.html %}
  {% include links.html %}
  <title>{{ page.title }}</title>
</head>

<body class="post-class">
  {% include header.html %}
  <main class="container inside-post">
    <h1>{{ page.title }}</h1>

    <ul class="in-post-info">
      <li class="eng-name">
        <i class="fa-solid fa-language"></i>
        <span>
          {{ page.title-eng }}
        </span>
      </li>
      <li class="date">
        <i class="fa-solid fa-calendar-days"></i>
        <span>{{ page.date | date: "%m/%d/%Y" }}</span>
      </li>
    </ul>


    {{ content }}
  </main>

  {% include footer.html %}

  <script src={{ "assets/javascript/date-format.js" | relative_url }}></script>
  <script src={{ "assets/javascript/set-copyright-year.js" | relative_url }}></script>
</body>